Source: zacalc
Section: desktop
Priority: extra
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50), python-tk
Standards-Version: 3.9.1
VCS-bzr: http://dev.blankonlinux.or.id/bzr/pattimura/zaclac

Package: zacalc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Zakat Kalkulator
 Zakat Kalkulator

